.nav{
    position: fixed;
    right: 0px;
    width: 10vw;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    
    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size: 100%;
    text-align: center;}
    .nav h1{
        position: relative;
        
        font-size: 15px;
    }
    .nav img{
        position: relative;
        height: 75px;
        width: 75px;
        border-radius:37.5px ;
        top:5px ;
    }
    
    .nav a,h1,img{
        animation: slide 10s linear infinite;
    }
    @keyframes slide{
        0%{
            transform: translateX(0px);
           
            color: beige;
        }
        25%{
            
            transform: translateX(5px);
            color: rgb(58, 165, 228);
            
        }
        50%{
            
            transform: translateX(0px);
            color:white;
            
        }
        50%{
            
            transform: translateX(-5px);
            color:rgb(230, 92, 92);
            
        }
        100%{
            transform: translateX(0px);
            color: beige;
        }
    
    }
    
    #list{
        position: absolute;
        top: 30%;
        box-sizing: content-box;
    }
    
    #box1{
        position: absolute;
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        
        height: 20px;
        width: 60px;
       align-self:center ;
       top: 0%;
    
    }
    #box2{
        top: 50px;
        position: absolute;
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        height: 20px;
        width: 60px;
       align-self: center;
       
    
    }
    #box3{
        top: 100px;
        position: absolute;
        border-style: solid;
        border-color: blue;
        border-radius: 10px;
        height: 20px;
        width: 60px;
       
    
    }
        
    
    .img{
        top: 0px;
        width: 90vw;
        left: 0px;
        height: 100vh;
        margin: 0%;
        background-image: url(mk.jpg);
        background-size: cover;
        position: absolute;
        overflow: hidden;
        animation: img 6s linear infinite;
        
        
        z-index: 2;
    
    }
    @keyframes img{
        0%{
            background-image:url(mk.jpg) ;
            opacity: 1;
            
            background-color: blanchedalmond;
        }
           
        50%{
           opacity: .95;
            background-image:url(mk.jpg)
            
        }
        100%{
            background-image:url(mk.jpg) ;
            opacity: 1;
          
        }}
        #box1:link,#box2:link,#box3:link {
            text-decoration: none;
           
          }
        #box1:visited, #box2:visited,#box3:visited{
            text-decoration: none;
          }
          
        #box1:hover, #box2:hover,#box3:hover {
            
            background-color: rgba(198, 240, 11, 0.205);
            text-decoration: none;
          
          }
          
        #box1:active,#box1:active,#box1:active {
            text-decoration: none;
          }
          .images{
              align-items: center;
              position: absolute;
              width: 90vw;
              height: 200vh;
              top: 0%;
              left: 0%;
              background-image:url("galleryback.jpg");
              
              
          }
          
          #i1{
            position: absolute;
            width: 30vw;
            height: 90vh;
           background-image: url("p7.jpg");
           background-size: cover;
           box-shadow: 1px 1px 10px rgba(35, 56, 53, 0.678), 0 0 25px rgba(10, 116, 101, 0.678), 0 0 5px rgba(10, 116, 101, 0.678);
           

            top: 5vh;
            left: 30vw;
            transition: 1s;
            transform-style: preserve-3d;
            z-index: 1;
            

          }
          #i2{
            position: absolute;
            background: transparent;
            width: 30vw;
            height: 90vh;
            left: 30vw;
            z-index: 2;
            
          
          }
         
          #left{
              position: absolute;
              background-color:rgba(0, 0, 255, 0.377);
              top: 35vh;
              left: 15vw;
              z-index: 1;
              height: 120px;
              width: 120px;
              box-shadow: 1px 1px 10px rgba(21, 104, 91, 0.678), 0 0 25px rgba(10, 17, 116, 0.678), 0 0 5px rgba(10, 44, 116, 0.678);
              ;
              border-radius: 20%;
              font-size: 60px;
              color: white;
              font-style: oblique;
              font-family: 'Times New Roman', Times, serif;
              font-weight: 900;
              
          }
          #right{
            position: absolute;
            background-color:rgba(0, 0, 255, 0.377);
            top: 35vh;
            left: 65vw;
            z-index: 1;
            height: 120px;
            width: 120px;
            box-shadow: 1px 1px 10px rgba(21, 104, 91, 0.678), 0 0 25px rgba(10, 17, 116, 0.678), 0 0 5px rgba(10, 68, 116, 0.678);
            ;
            border-radius: 20%;
            font-size: 60px;
              color: white;
              font-style: oblique;
              font-family: 'Times New Roman', Times, serif;
              font-weight: 900;
             
        }
          
          #i2:hover{
           box-shadow: 1px 1px 10px rgba(21, 104, 91, 0.678), 0 0 25px rgba(82, 10, 116, 0.678), 0 0 5px rgba(10, 116, 101, 0.678);
           ;
           height: 90vh;
            cursor: pointer;
            border: solid;
            transition-duration: 500ms;
            background-image: linear-gradient(rgba(255, 255, 255, 0.288),rgba(0, 0, 0, 0.692),black);
            transition-duration: .5s;
            
          }
         

          #left:hover,#right:hover{
              background-color: rgba(0, 0, 255, 0.452);
              cursor: pointer;
          }
         


          @media screen and (max-width:959px){
            .nav{
                position: fixed;
                right: 0px;
                width: 100vw;
                top: 0px;
                height: 8vh;
                z-index: 14;
        
            }
            .nav img{
                position: fixed;
                height: 30px;
                width: 30px;
                 border-radius:15px ;
                 left: 5%;
                 top: 1.5%;
        
            }
            .img h1{top: 40vh;
                font-size: 10vw;
            bottom: 50vh;
            }
            .img, .t{
                width: 100%;
            }
            #box1{
                position: fixed;
                border-radius: 5px;
                font-size: 90%;
                left: 25vw;
                height: 2.5%;
                width: 13%;
               align-self:center ;
               top: 2%;
            
            }
            #box2{
                position: fixed;
                border-radius: 5px;
                font-size: 90%;
                left: 52.5vw;
                height: 2.5%;
                width: 13%;
               align-self:center ;
               top: 2%;
            
            }
            #box3{
                position: fixed;
                border-radius: 5px;
                font-size: 90%;
                left: 80vw;
                height: 2.5%;
                width: 13%;
               align-self:center ;
               top: 2%;
            
            }
            .images{
                width: 100%;
            }
            #i1{
                position: absolute;
                width: 60vw;
                height: 40vh;
                left: 5vw;
            }
            #i2{
                position: absolute;
                width: 60vw;
                height: 40vh;
                left: 5vw;
            }

            #right{
                position: absolute;
                background-color:rgba(0, 0, 255, 0.377);
                top: 35vh;
                left: 65vw;
                z-index: 1;
                height: 40px;
                width: 40px;
                box-shadow: 1px 1px 10px rgba(21, 104, 91, 0.678), 0 0 25px rgba(10, 17, 116, 0.678), 0 0 5px rgba(10, 68, 116, 0.678);
                ;
                border-radius: 20%;
                font-size: 60px;
                  color: white;
                  font-style: oblique;
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: 900;
                 
            }
              
            
               
        }
        @media screen and (max-width:700px){
            .images{
                width: 100%;
                height: 100%;
            }
         #i1{position: absolute;
            width: 60vw;
            height: 40vh;
            left: 20vw;
            top: 30vh;
        }
        
        #i2{position: absolute;
            width: 60vw;
            height: 40vh;
            left: 20vw;
            top: 30vh;
        }
        
            
        #i2:hover{
            box-shadow: 1px 1px 10px rgba(21, 104, 91, 0.678), 0 0 25px rgba(82, 10, 116, 0.678), 0 0 5px rgba(10, 116, 101, 0.678);
            ;
            height: 40vh;
             cursor: pointer;
             border: solid;
             transition-duration: 500ms;
             background-image: linear-gradient(rgba(255, 255, 255, 0.288),rgba(0, 0, 0, 0.692),black);
             transition-duration: .5s;
             
           }
            
            
        

           #right{
            position: absolute;
            background-color:rgba(0, 0, 255, 0.377);
            top: 45vh;
            left: 83vw;
            z-index: 1;
            height: 50px;
            width: 50px;
            box-shadow: 1px 1px 10px rgba(21, 104, 91, 0.678), 0 0 25px rgba(10, 17, 116, 0.678), 0 0 5px rgba(10, 68, 116, 0.678);
            ;
            border-radius: 20%;
            font-size: 40px;
              color: white;
              font-style: oblique;
              font-family: 'Times New Roman', Times, serif;
              font-weight: 900;
             align-items: center;
        }
        
        #left{
            position: absolute;
            background-color:rgba(0, 0, 255, 0.377);
            top: 45vh;
            left: 1vw;
            z-index: 1;
            height: 50px;
            width: 50px;
            box-shadow: 1px 1px 10px rgba(21, 104, 91, 0.678), 0 0 25px rgba(10, 17, 116, 0.678), 0 0 5px rgba(10, 68, 116, 0.678);
            border-radius: 20%;
            font-size: 40px;
              color: white;
              font-style: oblique;
              font-family: 'Times New Roman', Times, serif;
              font-weight: 900;
             align-items: center;
        }
        
        

    }
