.nav{
    position: fixed;
    right: 0px;
    width: 10vw;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    
    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size: 100%;
    text-align: center;}
    .nav h1{
        position: relative;
        
        font-size: 15px;
    }
    .nav img{
        position: relative;
        height: 75px;
        width: 75px;
        border-radius:37.5px ;
        top:5px ;
    }
    
    .nav a,h1,img{
        animation: slide 10s linear infinite;
    }
    @keyframes slide{
        0%{
            transform: translateX(0px);
           
            color: beige;
        }
        25%{
            
            transform: translateX(5px);
            color: rgb(58, 165, 228);
            
        }
        50%{
            
            transform: translateX(0px);
            color:white;
            
        }
        50%{
            
            transform: translateX(-5px);
            color:rgb(230, 92, 92);
            
        }
        100%{
            transform: translateX(0px);
            color: beige;
        }
    
    }
    
    #list{
        position: absolute;
        top: 30%;
        box-sizing: content-box;
    }
    
    #box1{
        position: absolute;
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        
        height: 20px;
        width: 60px;
       align-self:center ;
       top: 0%;
    
    }
    #box2{
        top: 50px;
        position: absolute;
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        height: 20px;
        width: 60px;
       align-self: center;
       
    
    }
    #box3{
        top: 100px;
        position: absolute;
        border-style: solid;
        border-color: blue;
        border-radius: 10px;
        height: 20px;
        width: 60px;
       
    
    }
        
    
    .img{
        top: 0px;
        width: 90vw;
        left: 0px;
        height: 100vh;
        margin: 0%;
        background-image: url(mk.jpg);
        background-size: cover;
        position: absolute;
        overflow: hidden;
        animation: img 6s linear infinite;
        
        
        z-index: 2;
    
    }
    @keyframes img{
        0%{
            background-image:url(mk.jpg) ;
            opacity: 1;
            
            background-color: blanchedalmond;
        }
           
        50%{
           opacity: .95;
            background-image:url(mk.jpg)
            
        }
        100%{
            background-image:url(mk.jpg) ;
            opacity: 1;
          
        }}
        #box1:link,#box2:link,#box3:link {
            text-decoration: none;
           
          }
        #box1:visited, #box2:visited,#box3:visited{
            text-decoration: none;
          }
          
        #box1:hover, #box2:hover,#box3:hover {
            
            background-color: rgba(198, 240, 11, 0.205);
            text-decoration: none;
          
          }
          
        #box1:active,#box1:active,#box1:active {
            text-decoration: none;
          }
          .images{
              align-items: center;
              position: absolute;
              width: 90vw;
              height: 100vh;
              top: 0%;
              left: 0%;
              background-image: linear-gradient( 180deg,rgba(35, 99, 236, 0.323),rgba(35, 99, 236, 0.575),rgba(17, 88, 240, 0.781));
              

          }
          
          #i1{
            position: absolute;
            width: 30vw;
            height: 40vh;
           background-image: url("p7.jpg");
           background-size: cover;
           box-shadow: 1px 1px 10px rgba(35, 56, 53, 0.678), 0 0 25px rgba(10, 116, 101, 0.678), 0 0 5px rgba(10, 116, 101, 0.678);


            top: 11%;
            left: 10vw;
            transition: .5s;
            

          }
          #i2{
            box-shadow: 1px 1px 10px rgba(35, 56, 53, 0.678), 0 0 25px rgba(10, 116, 101, 0.678), 0 0 5px rgba(10, 116, 101, 0.678);

            position: absolute;
            width: 30vw;
            height: 40vh;
            background-image: url("P5.jpeg");
           background-size: cover;
            top: 11%;
            left: 50vw;
            transition: .5s;

          }
          #i3{
            position: absolute;
            width: 30vw;
            height: 40vh;
            top: 55vh;
            left: 10vw;
            background-image: url("IMG20211024154425.jpg");
            background-size: cover;
            box-shadow: 1px 1px 10px rgba(35, 56, 53, 0.678), 0 0 25px rgba(10, 116, 101, 0.678), 0 0 5px rgba(10, 116, 101, 0.678);
            transition: .5s;

          }
          #i4{
            position: absolute;
            width: 30vw;
            height: 40vh;
            top: 55vh;
            left: 50vw;
            transition: .5s;
            background-image: url("IMG_20211015_163605.jpg");
            background-size: cover;
            box-shadow: 1px 1px 10px rgba(35, 56, 53, 0.678), 0 0 25px rgba(10, 116, 101, 0.678), 0 0 5px rgba(10, 116, 101, 0.678);


          }
          #i4:hover,#i1:hover,#i2:hover,#i3:hover{
            width: 42%;
            height: 42%;
            cursor: pointer;

          }
          @media screen and (max-width:959px){
            .nav{
                position: fixed;
                right: 0px;
                width: 100vw;
                top: 0px;
                height: 8vh;
                z-index: 14;
        
            }
            .nav img{
                position: fixed;
                height: 30px;
                width: 30px;
                 border-radius:15px ;
                 left: 5%;
                 top: 1.5%;
        
            }
            .img h1{top: 40vh;
                font-size: 10vw;
            bottom: 50vh;
            }
            .img, .t{
                width: 100%;
            }
            #box1{
                position: fixed;
                border-radius: 5px;
                font-size: 90%;
                left: 25vw;
                height: 2.5%;
                width: 13%;
               align-self:center ;
               top: 2%;
            
            }
            #box2{
                position: fixed;
                border-radius: 5px;
                font-size: 90%;
                left: 52.5vw;
                height: 2.5%;
                width: 13%;
               align-self:center ;
               top: 2%;
            
            }
            #box3{
                position: fixed;
                border-radius: 5px;
                font-size: 90%;
                left: 80vw;
                height: 2.5%;
                width: 13%;
               align-self:center ;
               top: 2%;
            
            }
            .images{
                width: 100%;
            }
            #i1{
                position: absolute;
                width: 40vw;
                height: 40vh;
                left: 5vw;
            }
            
                #i2{
                    position: absolute;
                    width: 40vw;
                    height: 40vh;
                    left: 55vw;
                }
                #i4{
                    position: absolute;
                    width: 40vw;
                    height: 40vh;
                    left: 55vw;
                }
                #i3{
                    position: absolute;
                    width: 40vw;
                    height: 40vh;
                    left: 5vw;
                }
            
        }
        @media screen and (max-width:700px){
            .images{
                width: 100%;
                height: 200%;
            }
            #i1{position: absolute;
            width: 60vw;
            height: 40vh;
            left: 20vw;
            top: 10vh;
        }
        
            #i2{
                position: absolute;
                width: 60vw;
                height: 40vh;
                left: 20vw;
                top: 55vh;
            }
            #i4{
                position: absolute;
                width: 60vw;
                height: 40vh;
                left: 20vw;
                top: 145vh;
            }
            #i3{
                position: absolute;
                width: 60vw;
                height: 40vh;
                left: 20vw;
                top: 100vh;
            }
            #i4:hover,#i1:hover,#i2:hover,#i3:hover{
                width: 62vw;
                height: 42vh;
                cursor: pointer;
    
              }
            
            
            
        

        }
        
        
